body {
    /*background: #303238 url("images/bg01.png");*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    color: #7b818c;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #333;
    /*margin: 0 0 1em 0;*/
}
a {
    color: #333;
    text-decoration: none;
}


.chicker_logo img{
    max-width: 123px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.chicker_logo img:hover{

    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari */
    transform: scale(0.9);

}


/*.parallax label {*/
    /*position: absolute;*/
    /*top: 4em;*/
    /*left: 20px;*/
    /*z-index: 999;*/
/*}*/
/*.parallax label span::after {*/
    /*-webkit-transition: all 0.25s ease-in-out;*/
    /*transition: all 0.25s ease-in-out;*/
    /*content: "\e014";*/
    /*font-size: 30px;*/
    /*cursor: pointer;*/
    /*color: #da4453;*/
/*}*/

/*
  menu icon css3
*/
.menu-icon {
    position: relative;
    display: block;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;

    position: absolute;
    top: 4em;
    left: 20px;
    z-index: 999;
}
.menu-icon:hover span {
    background: #222;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
    background: #222;
}
.menu-icon > p {
    margin-top: 2.2em;
}
.menu-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0.25em;
    /*background-color: #bbbbbb;*/
    background-color: #3498db;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #bbbbbb;*/
    background-color: #3498db;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
    -webkit-transform: translateY(-0.75em);
    transform: translateY(-0.75em);
}

.menu-icon > span:after {
    -webkit-transform: translateY(0.75em);
    transform: translateY(0.75em);
}



/* OPENED */


.parallax input[type="checkbox"]:checked ~ label.menu-icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.parallax input[type="checkbox"]:checked ~ label.menu-icon > span:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.parallax input[type="checkbox"]:checked ~ label.menu-icon > span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.parallax input[type="checkbox"]:checked ~ label.menu-icon > p{
    visibility: hidden;
}
.parallax input[type="checkbox"]:checked ~ label.menu-icon > span{
    background-color: #d31145;
}
.parallax input[type="checkbox"]:checked ~ label.menu-icon > span:before,
.parallax input[type="checkbox"]:checked ~ label.menu-icon > span:after{
    background-color: #d31145;
}





.parallax input[type="checkbox"]:checked ~ .menu {
    left: -25%;
}
.parallax input[type="checkbox"]:checked ~ .content .content-container {
    margin-left: 0;
}


/* menu left */





.parallax .menu {
    position: absolute;
    /*position: fixed;*/
    /*top: 0;*/
    left: 0;
    width: 25%;
    height: 100%;
    /*background: #25262d;*/
    z-index: 9;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*.parallax .menu h2 {*/
    /*color: #fff;*/
    /*font-weight: lighter;*/
    /*text-align: center;*/
    /*margin: 0.5em 0 1em;*/
/*}*/
.parallax .menu ul {
    list-style-type: none;
    padding: 0;
}
.parallax .menu ul li {
    position: relative;
}
/*.parallax .menu ul li:first-child {*/
    /*margin-left: 20px;*/
    /*color: #555;*/
    /*padding: 10px 0;*/
    /*font-size: 10px;*/
/*}*/
.parallax .menu ul li a {
    display: block;
    width: 100%;
    color: #555;
    font-weight: lighter;
    padding: 5px 20px;
}
.parallax .menu ul li a.active {
    /*background: #1e2025;*/
    color: #aaa;
    text-decoration: underline;
}
.parallax .menu ul li a.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    /*background: #5c9df5;*/
}


.parallax .menu ul li ul {

    padding: 5px 60px;
}
.parallax .menu ul li ul li {
    list-style: disc;
}
.parallax .menu ul li ul li a {
    padding: 5px 0;
}
.profile-insurance{
    padding: 5px 20px;
}
.parallax .content .content-container {
    width: initial;
    margin-left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.parallax .content .content-container h1 {
    font-weight: normal;
    margin-bottom: 30px;
}
.parallax .content .content-container h4 {
    font-weight: normal;
    margin: 15px 0;
}
.parallax .content .content-container p {
    font-weight: lighter;
    text-align: justify;
}
@media (max-width: 767px) {

    .parallax input[type="checkbox"]:checked ~ .menu {
        left: -100% !important;
    }
    .parallax input[type="checkbox"]:checked ~ body {
        overflow: hidden;
    }
    /*.parallax input[type="checkbox"]:checked ~ label span {*/
        /*color: inherit;*/
        /*-webkit-transition: all 0.5s ease-in-out;*/
        /*transition: all 0.5s ease-in-out;*/
    /*}*/
    /*label span {*/
        /*color: #fff;*/
        /*-webkit-transition: all 0.5s ease-in-out;*/
        /*transition: all 0.5s ease-in-out;*/
    /*}*/
    .menu {

        width: 100% !important;
        background: #fff;
        overflow-y: scroll;
    }

    body.active{
        overflow: hidden;
    }
}

@media (max-width: 438px) {

    .parallax label {
        top: 5.3em;
    }

}
@media (max-width: 324px) {

    .parallax label {
        top: 6.7em;
    }

}

.content-container > div{
    max-width: 999px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}
.e-line > img{
    max-width: 17px;
}



.hr {
    /* width: 100%; */
    margin: 0 auto;
    font-weight: lighter;
    text-align: center;
    margin: 0.5em 3em 1em 3em;
    -webkit-animation-duration: 2.25s;
    -moz-animation-duration: 2.25s;
    animation-duration: 2.25s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.hr hr {
    background-color: #d31145;
    position: relative;
    top: -40px;
    border: none;
    height: 2px;
}

.hr img {

    position: relative;
    z-index: 1;
}




header {
    /*background-color: #f8f8f8;*/
    /*border-bottom: 1px solid #dfdfdf;*/

    background-color: #d31145;
    border-bottom: 1px solid #b8123e;
    margin-bottom: 3.4em;

}
header a,header i{
    color: #fff;
}
.connect-with-us {
    text-align: right;
    float: right;
}
.top-informations-bg ul {
    margin-bottom: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.top-informations ul li {
    position: relative;
}
.top-informations ul li {
    list-style-type: none;
    color: #565a5c;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-right: 16px;
}
.connect-with-us ul li {
    display: inline-block;
    font-size: 13px;
    color: #f2f5f7;
    /* margin-right: 5px; */
}
@media screen and (max-width: 767px){
    .connect-with-us {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .top-informations {
        display: inline-block;
    }
}

.text-white{
    color: #fff;
}
.text-red{
    color: rgb(211,17,69);
}
.aio-con{
    max-width: 888px;
    margin: 0 auto;
}
.aio-bg{
    position: relative;
}
.aio-bg img{
    position: absolute;
    z-index: -1;
    max-width: 100%;
}
.aio-banner{
    text-align: right;
}
.aio-banner img{
    width: 100%;
    max-width: 266px;

    animation: pulse 2000ms linear infinite;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
}
.aio-title h1{
    font-weight: bolder !important;
    font-size: 4em;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
}

.aio-subtitle h3{
    font-weight: normal !important;
    text-align: center;
    font-size: 2em;
    color: #000;
    /*text-shadow: 0 0 30px #EC637B,*/
    /*0 0 10px rgba(230, 161, 173, 0.41),*/
    /*0 0 100px #E6A1AD,*/
    /*0 0 500px #F36780,*/
    /*5px 9px 5px rgba(0, 0, 0, 0.5);*/
}

@keyframes pulse{
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

@-moz-keyframes pulse{
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

@-webkit-keyframes pulse{
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}













.contact-container {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.contact-container {
    position: relative;
    width: 100%;
    max-width: 888px;
    margin: auto;
    margin-top: 5em;
    padding: 5%;
    background: rgba(0,0,0,0.6);
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.contact-container h3{
    font-weight: normal;
    text-align: center;
    color: #fff;
}
.contact-container h2 {
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.contact-container h2:first-child {
    padding-left: 0px;
}

.contact-container span {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}

.contact-container .text {
    width: 89%;
    padding: 10px 20px;
    display: block;
    /* height: 15px; */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.contact-container .text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.contact-container .text:focus + span {
    opacity: 0.6;
}

.contact-container input[type="text"],
.contact-container input[type="password"] {
    color: #fff;
}



.contact-container input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

.contact-container h2,
.contact-container span,
.contact-container .custom-checkbox {
    margin-left: 1rem;
}

.contact-container .custom-checkbox {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 6px;
}

.contact-container .custom-checkbox:checked {
    background-color: rgba(17, 97, 237, 1);
}

.contact-container .custom-checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #fff;
}

.contact-container .custom-checkbox:focus {
    outline: none;
}

.contact-container label {
    position: relative;
    top: 3px;
    display: inline-block;
    padding: 10px 0;
    /* padding-left: 5px; */
}

.contact-container .signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    /* display: block; */
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.contact-container .signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.contact-container .signin:focus {
    outline: none;
}

.contact-container hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 85px;
    position: relative;
}

.contact-container a {
    text-align: center;
    display: block;
    top: 120px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
}




/* footer */

#footer-section {

    background-color: rgb(211, 17, 69);
    margin-top: 5em;

    padding:40px 0px 40px 0px;
}

#footer-copy {
    padding-left: 15px;
    padding-right: 15px;




}
.content-safe {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
}
@media screen and (max-width: 999px) and (min-width: 600px){
    .content-safe {
        margin: 0 auto;
        width: 560px;
    }
}


#footer-section h3 {
    color:#ffffff;
    font-size:16px;
    font-weight:400;
    padding:0;
    margin:0px 0px 15px 0px;
}

#footer-section a {
    color:#ffffff;
    font-size:14px;
    line-height:22px;
    font-weight:300;
    text-decoration:none;
    display:block;
}

#footer-section a:hover {
    text-decoration:underline;
}

.footer-group {
    float:left;
    margin:0px 50px 0px 0px;
}

#footer-logo {
    /*background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-large.png);*/
    background-image:url(../image/aia-logo-lockup-2x.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    width: 210px;
    height: 88px;
    margin:0px 60px 50px 0px;
}

#footer-join-our-team {
    cursor:pointer;
    background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-large.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    width:184px;
    height:41px;
    margin:0px 0px 10px 0px;
}

#footer-join-our-team:hover {
    background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-over-large.png);
}

.footer-social-media-link {
    display:inline-block;
    cursor:pointer;
    background-position:center;
    background-repeat:no-repeat;
    width:27px;
    height:26px;
    margin:4px;
}

#footer-facebook {
    background-image:url(http://www.braksoftware.com/codepen/bruce/v1/facebook-white-large.png);
}

#footer-twitter {
    background-image:url(http://www.braksoftware.com/codepen/bruce/v1/twitter-white-large.png);
}

#footer-blogspot {
    background-image:url(http://www.braksoftware.com/codepen/bruce/v1/blogger-white-large.png);
}

#footer-contact {
    color:white;
    font-size:12px;
    font-weight:300;
    padding:30px 0px 10px 0px;
}

#footer-contact div {
    display:inline;
}

#footer-contact a {
    display:inline;
    color:inherit;
    font-size:inherit;
    line-height:inherit;
}

#footer-copyright {
    color:#eeeeee;
    font-size:11px;
    font-weight:300;
}

.footer-divider {
    margin:0px 4px 0px 4px;
}

@media screen and (min-width:600px) and (max-width: 999px) {
    #footer-section h3 {
        font-size:16px;
        font-weight:400;
        margin:0px 0px 15px 0px;
    }

    #footer-section a {
        font-size:13px;
        font-weight:300;
        line-height:22px;
    }

    .footer-group {
        margin:0px 20px 0px 0px;
    }

    #footer-logo {
        /*background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-medium.png);*/
        background-image:url(../image/aia-logo-lockup-2x.png);
        width:121px;
        height:50px;
        margin:4px 0px 37px 0px;
    }

    #footer-join-our-team {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-medium.png);
        width:120px;
        height:27px;
        margin:0px 0px 10px 0px;
    }

    #footer-join-our-team:hover {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-over-medium.png);
    }

    .footer-social-media-link {
        width:16px;
        height:16px;
        margin:4px;
    }

    #footer-facebook {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/facebook-white-medium.png);
    }

    #footer-twitter {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/twitter-white-medium.png);
    }

    #footer-blogspot {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/blogger-white-medium.png);
    }

    #footer-contact {
        font-size:13px;
        font-weight:300;
    }

    #footer-contact div {
        /* So that the address and phone numbers are on separate lines */
        display:block;
    }


    #footer-contact a {
        display:inline;
        color:inherit;
        font-size:inherit;
        line-height:inherit;
    }

    #footer-contact div:nth-last-child(2) {
        /* So that there is no divider between the address and phone number lines */
        display:none;
    }
}

@media screen and (max-width: 599px) {
    #footer-section {
        padding:25px 0px 25px 0px;
    }

    #footer-section h3 {
        font-size:17px;
        font-weight:400;
        margin:4px 0px 10px 0px;
    }

    #footer-section a {
        font-size:13px;
        font-weight:300;
        line-height:28px;
    }

    .footer-group {
        width:300px;
        margin:0px 20px 20px 0px;
    }

    .footer-group > * {
        vertical-align:top;
    }

    .footer-group-logo {
        margin:0px 0px 20px 0px
    }


    #footer-logo {
        /*background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-medium.png);*/
        background-image:url(../image/aia-logo-lockup-2x.png);
        width:120px;
        height:50px;
        margin:0px 10px 20px 0px;
    }

    #footer-join-our-team {
        display:inline-block;
        margin:0px 10px 10px 0px;
    }

    .footer-social-media-link {
        margin:8px 4px 0px 0px;
    }

    #footer-contact {
        font-size:14px;
        line-height:24px;
        padding:10px 0px 10px 0px;
    }

    #footer-contact span.nw {
        display:block;
    }

    .footer-contact-company-name {
        font-weight:400;
    }

    .footer-divider {
        display:none;
    }

    #footer-contact a {
        display:inline;
        color:inherit;
        font-size:inherit;
        line-height:inherit;
    }
}

/* Retina graphics here */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:1000px) {
    #footer-logo {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-large@2x.png);
    }

    #footer-join-our-team {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-large@2x.png);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:600px) and (max-width: 999px) {
    #footer-logo {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-medium@2x.png);
    }

    #footer-join-our-team {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-medium@2x.png);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 599px) {
    #footer-logo {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/bruce-logo-footer-medium@2x.png);
    }

    #footer-join-our-team {
        background-image:url(http://www.braksoftware.com/codepen/bruce/v1/join-our-team-button-large@2x.png);
    }
}

/* end footer*/





.social-container{
    text-align: right;
    margin: 1em 0;
    padding: 2em;
}
.fb-like{
    float: right;
}

#breadcrumb {
    /*margin-bottom: 20px;*/
    margin-bottom: 3em;
    color: #777;
    font-size: 13px;

    border: 1px solid #ddd;
    background-color: #F7F7F7;
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
}
div#breadcrumb div {
    display: inline;
}
#breadcrumb a {
    text-decoration: none;
    color: #777;
}
#breadcrumb span.sp {
    margin: 0 10px;
}

.fb-comments-container{
    position: relative;
    width: 100%;
    max-width: 888px;
    margin: auto;
    margin-top: 4em;
}



@media (max-width: 767px) {

    label.menu-icon > p{
        visibility: hidden;
    }

    label.menu-icon {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    label.menu-icon > span:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    label.menu-icon > span:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    label.menu-icon > span{
        background-color: #d31145;
    }
    label.menu-icon > span:before,
    label.menu-icon > span:after{
        background-color: #d31145;
    }


    .parallax input[type="checkbox"]:checked ~ label.menu-icon > span {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 0.25em;
        /*background-color: #bbbbbb;*/
        background-color: #3498db;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
        -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: transform 0.3s, background 0.25s ease;
        transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
    }

    .parallax input[type="checkbox"]:checked ~ label.menu-icon > span:before,
    .parallax input[type="checkbox"]:checked ~ label.menu-icon > span:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        /*background-color: #bbbbbb;*/
        background-color: #3498db;
        border-radius: 3px;
        -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
        -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: background 0.25s ease, -webkit-transform 0.3s;
        transition: transform 0.3s, background 0.25s ease;
        transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
    }


    .parallax input[type="checkbox"]:checked ~ label.menu-icon {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .parallax input[type="checkbox"]:checked ~ label.menu-icon > span:before {
        -webkit-transform: translateY(-0.75em);
        transform: translateY(-0.75em);
    }

    .parallax input[type="checkbox"]:checked ~ label.menu-icon > span:after {
        -webkit-transform: translateY(0.75em);
        transform: translateY(0.75em);
    }

    .parallax input[type="checkbox"]:checked ~ label.menu-icon > p{
        visibility: visible;
    }



}


.title-container{
    margin-bottom: 2em;
}
.title-container .topic{
    color: #f99933;
}
.title-container p{
    text-indent: 2em;
}
div.title-container > p:nth-child(3){
    margin-top: 1.5em !important;
}